* {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

.orange {
    background-color: #fc9803;
}

.grey {
    background-color: #a19b92;
}

.dark-grey {
    background-color: #52504e;
}

table.center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input[type="text"] {
    width: 100%;
    border: solid grey 1px;
    border-radius: 12rem;
    background-color: black;
}

input[type="button"] {
    width: 100%;
    border-radius: 50%;
    border: none;
}